         @font-face {
             font-family: Orbiton-Bold;
             src: url(Font/Orbitron-Bold.ttf);
         }

         * {
             margin: 0;
             padding: 0;
             box-sizing: border-box;
         }

         body {
             background-color: black;
             color: white;
             font-family: "Orbiton-Bold";
         }

         .root {
             display: flex;
             justify-content: center;
             align-items: center;
             height: 100vh;
         }

         .container {
             height: 550px;
             width: 550px;
             border-radius: 8px;
             border: 6px solid #282828;
             display: flex;
             justify-content: center;
             align-items: center;
             box-shadow:
  0 0 10px rgba(255,255,255,0.6),
  0 0 20px rgba(255,255,255,0.4),
  0 0 30px rgba(255,255,255,0.2);
         }

         .inner-container {
             height: 93%;
             width: 93%;
             border: 2px solid white;
             border-radius: 14px;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             /* gap: 2rem; */
         }

         .date-container {
             height: 100px;
             width: 85%;
             border-radius: 15px;
             border: 2px solid white;
             font-size: 65px;
             color: #00FF33;
             text-align: center;
         }

         .time-container {
             height: 110px;
             width: 95%;
             border-radius: 15px;
             border: 2px solid white;
             font-size: 75px;
             color: #00FF33;
             text-align: center;
         }

         .days-container {
             height: 40px;
             width: 95%;
             border-radius: 15px;
             /* border: 2px solid white; */
             display: flex;
             justify-content: center;
             align-items: center;
             /* gap: ; */
             margin: 1rem 0;
             margin-left: 9px;
         }

         .days-container label {
             margin-right: 0.8rem;
             font-size: 15px;
             /* margin-left: 10px; */
         }

         .days-container input {
             accent-color: #00FF33;
             height: 23px;
             width: 23px;
             appearance: none;
             -webkit-appearance: none;
             background-color: black;
             border: 1px solid white;
             border-radius: 50%;
             background-clip: content-box;
             padding: 3px;
             cursor: pointer;
         }

         .days-container input:checked {
             background-color: #00FF33;
         }

         .days-container span {
             display: flex;
             gap: 2px;
             /* text-align: center; */
             justify-content: center;
             align-items: center;
         }

         .temperature-container {
             height: 80px;
             width: 85%;
             border-radius: 15px;
             /* border: 2px solid white; */
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 25px;
             margin-right: 19px;
             /* margin: 1rem 0; */
         }

         .temperature-container span {
             height: auto;
             width: auto;
             border: 2px solid white;
             font-size: 60px;
             text-align: center;
             padding: 5px;
             border-radius: 11px;
             color: #00FF33;
         }

         .mini-heading {
             font-size: 28px;
             display: flex;
             gap: 3rem;
             /* margin: 1rem 0; */
         }

         .mini-heading-2 {
             font-size: 28px;
             display: flex;
             gap: 2.5rem;
             margin-top: 1rem;
         }

         @media(max-width:580px) {
             .container {
                 width: auto;
                 height: 450px;
                 margin: 0 5px;
             }
             .mini-heading,
             .mini-heading-2 {
                 font-size: 4vw;
             }

             .date-container {
                 width: auto;
                 padding: 0 25px;
                 height: auto;
                 font-size: 11vw;
                 margin: 0;
             }

             .date-container label {
                 margin-right: 0.5rem;
                 font-size: 10px;
             }

             .time-container {
                 /* margin-right: 0; */
                 width: auto;
                 padding: 0 25px;
                 height: auto;
                 font-size: 12vw;
             }

             .days-container {
                 width: auto;
                 padding: 0 25px;
                 display: flex;
                 flex-wrap: wrap;
                 /* gap: 10px; */
                 line-height: 10px;
             }

             .days-container input {
                 accent-color: #00FF33;
                 height: 17px;
                 width: 17px;
             }
             .temperature-container span{
                height: auto;
             width: auto;
             border: 2px solid white;
             font-size: 40px;
             text-align: center;
             padding: 5px;
             border-radius: 11px;
             color: #00FF33;
             }
         }